* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Forum', serif;
}
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
/* Video player */
.DOMScene {
    width: 100vw;
    height: 100%;
    display: none;
}
/* Background */
.background {
    height: 100vh;
    width: 100vw;
    display: none; /* flex */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(./assets/background/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: visibility 0s linear 0s, opacity 500ms;
}
.background img {
    height: 350px;
    border: #FAFAFA 20px solid;
}
.contenedor-opcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}
.opcion, .boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2vw;
    border-radius: 15px;
    width: 500px;
    height: 220px;
    min-height: 100px;
    min-width: 210px;
    font-size: 2rem;
    background-image: url(./assets/boton\ fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #F7D135;
}
.opcion:hover, .boton:hover{
    cursor: pointer;
}
.intro {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.intro.fade {
    opacity: 1;
}
.intro img {
    height: 25vh;
    max-height: 250px;
    min-height: 100px;
}
.boton {
    height: 15vh;
    width: 18vw;
    max-width: 320px;
    max-height: 140px;
    margin-top: 2rem;
}
.sobre {
    position: absolute;
    left: 25%;
    top: 100vh; /* 40vh */
    transition: top 500ms ease-in-out;
    width: 950px;
    height: 600px;
}
.sobre img {
    width: 100%;
    height: 100%;
}
.sobre p {
    color: red;
    position: relative;
    top: 62%;
    left: 25%;
    font-size: 1.6rem;
    font-weight: bold;
}
.sobre:hover {
    cursor: pointer;
}
.cbu {
    font-size: 2rem;
    position: absolute;
    top: 50;
    left: -50vw; /* 10vw */
    color: #FAFAFA;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 1200px) {
    html {
        font-size: 70%;
    }
    .opcion, .boton {
        height: 220px;
        width: 500px;
    }
    .sobre{
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 700px) {
    .contenedor-opcion{ 
        flex-direction: column;
    }
    .opcion, .boton {
        width: 250px;
        height: 120px;
    }
}