* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Forum', serif;
}
html, body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
body {
    background-color: black;

}
/* Video player */
.DOMScene {
    width: 100vw;
    height: 100%;
    display: none;
}
/* Background */
.background {
    height: 100vh;
    width: 100vw;
    display: none; /* flex */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 0 0;
    background-image: url(./assets/background/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: visibility 0s linear 0s, opacity 500ms;
}
.background #matufia {
    height: 350px;
    border: #FAFAFA 20px solid;
}
.contenedor-opcion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}
.opcion, .boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    height: 130px;
    font-size: 1.5rem;
    padding: 0 2rem;
    background-image: url(./assets/boton\ fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #F7D135;
}
.opcion:hover, .boton:hover{
    cursor: pointer;
}
.intro {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.intro.fade {
    opacity: 1;
}
.intro img {
   height: 150px;
}
.boton {
    margin-top: 2rem;
}
.sobre {
    width: 800px;
    height: 500px;
    display: none;
}
.sobre img {
    width: 100%;
    height: 100%;
}
.sobre p {
    color: red;
    position: relative;
    top: 40%;
    left: 25%;
    font-size: 1.6rem;
    font-weight: bold;
}
.sobre:hover {
    cursor: pointer;
}
.cbu {
    font-size: 1.4rem;
    color: #FAFAFA;
    text-align: center;
    font-weight: bold;
    display: none;
}
@media (max-width: 1200px) {
    .background {
        flex-direction: row;
        padding: 0 10%;
    }
}
/*


@media (max-width: 700px) {
    html {
        font-size: 50%;
    }
    .intro img {
        height: 50px;
    }
    .contenedor-opcion{ 
        flex-direction: column;
    }
    .opcion, .boton {
        width: 50px;
        height: 50px;
        max-width: 50px;
        max-height: 140px;
        min-height: 60px;
        min-width: 120px;
    }

}


@media (max-width: 400px) {
    
    .sobre {
        top: 100vh;
    }
}
*/